
.listCards_wrapper{
    width: 90%;
    height: fit-content;
    padding: 20px 10px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3rem;
    row-gap: 3rem;
    position: relative;

   h2{
    position: sticky;
    top: 5px;
   }
}